<section>
    <footer class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <!-- <h3 class="fw-bold">C9</h3> -->
                        <a class="navbar-brand"><img class="logo" src="assets/imgs/logo1-removebg-preview.png" alt="logo"></a>

                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                        <div class="d-flex my-2">
                            <div class="bord">
                                <a><i class="fa-brands fa-facebook-f fa-fw"></i></a>
                            </div>
                            <div class="bord">
                                <a><i class="fa-brands fa-twitter fa-fw"></i></a>
                            </div>
                            <div class="bord">
                                <a><i class="fa-brands fa-instagram fa-fw"></i></a>
                            </div>
                            <div class="bord">
                                <a><i class="fa-brands fa-pinterest fa-fw"></i></a>
                            </div>
                            <div class="bord">
                                <a><i class="fa-brands fa-linkedin-in fa-fw"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="d-flex justify-content-evenly">
                        <div>
                            <h5>Qucik Link
                            </h5>
                            <a class="nav-link fw-bold active" aria-current="page" (click)="scrollToElement('#home',$event)">Home</a>

                            <a class="nav-link fw-bold" (click)="scrollToElement('#about',$event)">About</a>

                            <a class="nav-link fw-bold" (click)="scrollToElement('#token',$event)">Token Sale</a>

                            <a class="nav-link fw-bold" (click)="scrollToElement('#service',$event)">Service</a>


                            <a class="nav-link fw-bold" (click)="scrollToElement('#partners',$event)">Partners</a>

                        </div>
                        <div>
                            <h5>Company
                            </h5>
                            <a class="nav-link fw-bold active" aria-current="page" (click)="scrollToElement('#home',$event)">Home</a>

                            <a class="nav-link fw-bold" (click)="scrollToElement('#about',$event)">About</a>

                            <a class="nav-link fw-bold" (click)="scrollToElement('#token',$event)">Token Sale</a>

                            <a class="nav-link fw-bold" (click)="scrollToElement('#service',$event)">Service</a>


                            <a class="nav-link fw-bold" (click)="scrollToElement('#partners',$event)">Partners</a>

                        </div>
                        <div>
                            <h5>Categories
                            </h5>
                            <a class="nav-link fw-bold active" aria-current="page" (click)="scrollToElement('#home',$event)">Home</a>

                            <a class="nav-link fw-bold" (click)="scrollToElement('#about',$event)">About</a>

                            <a class="nav-link fw-bold" (click)="scrollToElement('#token',$event)">Token Sale</a>

                            <a class="nav-link fw-bold" (click)="scrollToElement('#service',$event)">Service</a>


                            <a class="nav-link fw-bold" (click)="scrollToElement('#partners',$event)">Partners</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <div class="text-center py-3"><small>© Copyright - 2021 by 
        <!-- <span class="fw-bold">C9</span> -->
        <a class="navbar-brand"><img class="logo2" src="assets/imgs/logo1-removebg-preview.png" alt="logo"></a>
    </small></div>
</section>