<section>
    <footer [ngClass]="(language === 'EN' ? 'ltr':'rtl')" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <!-- <h3 class="fw-bold">C9</h3> -->
                        <a (click)="scrollToElement('#home',$event)" class="navbar-brand"><img class="logo" src="assets/imgs/logo1-removebg-preview.png" alt="logo"></a>
                        <!-- <img class="logo1" src="assets/imgs/c9-logo-removebg-preview.png" alt="logo"> -->
                        <p *ngIf="language==='EN'" class="mt-2">INTEGRATED DEVELOPMENT ENVIRONMENT</p>
                        <p *ngIf="language==='AR'" class="mt-2">بيئة تطوير متكاملة</p>
                        <!-- <p *ngIf="language==='EN'"><i class="fa-solid fa-location-dot me-2 fa-fw"></i>Al yasmeen, Riyadh, Kingdom of Saudi Arabia</p>
                        <p *ngIf="language==='AR'"><i class="fa-solid fa-location-dot ms-2 fa-fw"></i>الياسمين، الرياض، المملكة العربية السعودية</p>
                        <p *ngIf="language==='EN'"><i class="fa-solid fa-phone me-2 fa-fw"></i>920009710</p>
                        <p *ngIf="language==='AR'"><i class="fa-solid fa-phone ms-2 fa-fw"></i>920009710</p>
                        <p *ngIf="language==='EN'"><i class="fa-solid fa-earth-asia me-2 fa-fw"></i>info@9cloud.com.sa</p>
                        <p *ngIf="language==='AR'"><i class="fa-solid fa-earth-asia ms-2 fa-fw"></i>info@9cloud.com.sa</p> -->


                        <div class="d-flex mb-3">
                            <div class="bord">
                                <a><i class="fa-brands fa-facebook-f fa-fw"></i></a>
                            </div>
                            <div class="bord">
                                <a><i class="fa-brands fa-twitter fa-fw"></i></a>
                            </div>
                            <div class="bord">
                                <a><i class="fa-brands fa-instagram fa-fw"></i></a>
                            </div>
                            <div class="bord">
                                <a><i class="fa-brands fa-pinterest fa-fw"></i></a>
                            </div>
                            <div class="bord">
                                <a><i class="fa-brands fa-linkedin-in fa-fw"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="d-flex justify-content-evenly">
                        <div>
                            <h4 *ngIf="language==='EN'">Qucik Links</h4>
                            <h4 *ngIf="language==='AR'">روابط سريعة</h4>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <a *ngIf="language==='EN'" class="nav-link fw-bold active" aria-current="page" (click)="scrollToElement('#home',$event)">Home</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold active" aria-current="page" (click)="scrollToElement('#home',$event)">الرئيسيه</a>

                                    <a *ngIf="language==='EN'" class="nav-link fw-bold" (click)="scrollToElement('#about',$event)">About</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold" (click)="scrollToElement('#about',$event)">معرفتنا</a>

                                    <a *ngIf="language==='EN'" class="nav-link fw-bold space" (click)="scrollToElement('#token',$event)">Why Us</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold" (click)="scrollToElement('#token',$event)">لماذا نحن</a>

                                    <a *ngIf="language==='EN'" class="nav-link fw-bold" (click)="scrollToElement('#service',$event)">Service</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold" (click)="scrollToElement('#service',$event)">الخدمات</a>

                                </div>
                                <div>
                                    <a *ngIf="language==='EN'" class="nav-link fw-bold" (click)="scrollToElement('#partners',$event)">Clients</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold" (click)="scrollToElement('#partners',$event)">العملاء</a>

                                    <a *ngIf="language==='EN'" class="nav-link fw-bold" (click)="scrollToElement('#blog',$event)">Blog</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold" (click)="scrollToElement('#blog',$event)">المدونة</a>

                                    <a *ngIf="language==='EN'" class="nav-link fw-bold" (click)="scrollToElement('#contact',$event)">Contact</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold" (click)="scrollToElement('#contact',$event)">اتصل بنا</a>
                                </div>

                            </div>

                        </div>

                        <div>
                            <h4 *ngIf="language==='EN'">Categories</h4>
                            <h4 *ngIf="language==='AR'">الاقسام</h4>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <a href="https://aquamarine-tanuki-1a7fd9.netlify.app" target="_blank" *ngIf="language==='EN'" class="nav-link fw-bold">Marketing</a>
                                    <a href="https://aquamarine-tanuki-1a7fd9.netlify.app" target="_blank" *ngIf="language==='AR'" class="nav-link fw-bold">التسويق</a>

                                    <a href="https://incomparable-medovik-bb9e4e.netlify.app" target="_blank" *ngIf="language==='EN'" class="nav-link fw-bold">Ads</a>
                                    <a href="https://incomparable-medovik-bb9e4e.netlify.app" target="_blank" *ngIf="language==='AR'" class="nav-link fw-bold">الإعلانات</a>

                                    <a *ngIf="language==='EN'" class="nav-link fw-bold">Media Production</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold">الإنتاج الإعلامي</a>

                                    <a *ngIf="language==='EN'" class="nav-link fw-bold">Branding</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold">العلامات التجارية</a>


                                    <a *ngIf="language==='EN'" class="nav-link fw-bold">Printed</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold">مطبوعة</a>

                                </div>
                                <div>

                                    <a *ngIf="language==='EN'" class="nav-link fw-bold">Design</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold">التصميم</a>

                                    <a *ngIf="language==='EN'" class="nav-link fw-bold">Event</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold">حدث</a>

                                    <a *ngIf="language==='EN'" class="nav-link fw-bold">Technology</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold">التقنيه</a>

                                    <a *ngIf="language==='EN'" class="nav-link fw-bold">Business Development</a>
                                    <a *ngIf="language==='AR'" class="nav-link fw-bold">تطوير الاعمال</a>



                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <div class="text-center py-3"><small>© Copyright - 2021 by 
        <!-- <span class="fw-bold">C9</span> -->
        <a (click)="scrollToElement('#home',$event)" class="navbar-brand"><img class="logo2" src="assets/imgs/logo1-removebg-preview.png" alt="logo"></a>
    </small></div>
</section>