<section class="py-5 my-5">
    <div class="container">
        <div class=" position-relative">
            <small class="about position-relative ps-2">ABOUt US</small>
            <img class="img-fluid vector" src="assets/imgs/Vector.png" alt="Vector">
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Deposit Crypto, Earn Interest
                </h3>
                <h4 class="my-3 position-relative py-2">Choose from 30+ cryptocurrencies</h4>
                <p class="position-relative pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                <ul class="fa-ul ms-4">
                    <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Fast Mining</li>
                    <li><span class="fa-li"><i class="fas fa-check-double"></i></span>TRC20 Support
                    </li>
                    <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Easy Mining
                    </li>
                    <li><span class="fa-li"><i class="fas fa-check-double"></i></span>High Market</li>
                    <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Best Market Cap</li>

                </ul>
                <div class="d-flex">
                    <div class="icon me-3 p-3">
                        <div class="after position-relative pb-2"><i class="fas fa-hands"></i></div>
                        <small>Advertising</small>
                        <div>
                            <i class="fas fa-arrow-circle-right text-light"></i>
                        </div>
                    </div>
                    <div class="icon me-3 p-3">
                        <div class="after position-relative pb-2"><i class="fas fa-file-signature"></i></div>
                        <small>Traditional Assets</small>
                        <div>
                            <i class="fas fa-arrow-circle-right text-light"></i> </div>
                    </div>
                    <div class="icon p-3">
                        <div class="after position-relative pb-2"><i class="fas fa-digital-tachograph"></i></div>
                        <small>Digital Goods</small>
                        <div>
                            <i class="fas fa-arrow-circle-right text-light"></i> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 py-3">
                <div class="position-relative">
                    <img class="img-fluid" src="assets/imgs/Group 25.png" alt="about">
                    <img class="icon1" src="assets/imgs/marketing.png" alt="marketing">
                    <img class="icon2" src="assets/imgs/design.png" alt="design">
                    <img class="icon3" src="assets/imgs/cenima.png" alt="cenima">
                    <img class="icon4" src="assets/imgs/media.png" alt="media">

                </div>
            </div>
        </div>

    </div>
</section>