<section class="py-5 my-5">
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-md-6 position-relative">

                <div *ngIf="who">
                    <div class="position-relative">
                        <small class="about position-relative ps-2">ABOUt US</small>
                        <!-- <img class="img-fluid vector" src="assets/imgs/Vector.png" alt="Vector"> -->
                    </div>
                    <h3>Who we are
                    </h3>
                    <h4 class="my-3 position-relative py-2">Lorem, ipsum dolor.</h4>
                    <p class="position-relative pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                    <ul class="fa-ul ms-4">
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Lorem.</li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Lorem, ipsum.
                        </li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Lorem, ipsum dolor.
                        </li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>ipsum dolor.</li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Best Market Cap</li>

                    </ul>
                </div>
                <div *ngIf="vision">
                    <div class="position-relative">
                        <small class="about position-relative ps-2">ABOUt US</small>
                        <!-- <img class="img-fluid vector" src="assets/imgs/Vector.png" alt="Vector"> -->
                    </div>
                    <h3>Our Vision
                    </h3>
                    <h4 class="my-3 position-relative py-2">Choose from 30+ cryptocurrencies</h4>
                    <p class="position-relative pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, repellat. Obcaecati quia, deleniti totam fugit voluptates nesciunt sapiente maxime voluptatum.</p>
                    <ul class="fa-ul ms-4">
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>lorem</li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>TRC20 Support
                        </li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Easy Mining
                        </li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>High Market</li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Best Market Cap</li>

                    </ul>
                </div>
                <div *ngIf="mission">
                    <div class="position-relative">
                        <small class="about position-relative ps-2">ABOUt US</small>
                        <!-- <img class="img-fluid vector" src="assets/imgs/Vector.png" alt="Vector"> -->
                    </div>
                    <h3>Our Mission
                    </h3>
                    <h4 class="my-3 position-relative py-2">Choose cryptocurrencies</h4>
                    <p class="position-relative pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, error adipisci! Voluptatem, quisquam magnam modi ex, aspernatur voluptate itaque velit, sunt corrupti nostrum fugit. Non.</p>
                    <ul class="fa-ul ms-4">
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Mining</li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Support
                        </li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Mining
                        </li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Market</li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Market Cap</li>

                    </ul>
                </div>
                <div *ngIf="value">
                    <div class="position-relative">
                        <small class="about position-relative ps-2">ABOUt US</small>
                        <!-- <img class="img-fluid vector" src="assets/imgs/Vector.png" alt="Vector"> -->
                    </div>
                    <h3>Our Values
                    </h3>
                    <h4 class="my-3 position-relative py-2">Lorem, ipsum.</h4>
                    <p class="position-relative pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laboriosam, architecto sapiente soluta asperiores voluptates quia quo distinctio corrupti dolorem amet ullam!</p>
                    <ul class="fa-ul ms-4">
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Fast</li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>TRC20
                        </li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Easy
                        </li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>High</li>
                        <li><span class="fa-li"><i class="fas fa-check-double"></i></span>Best Cap</li>

                    </ul>
                </div>

            </div>
            <div class="col-md-6 py-3">
                <!-- <div class="position-relative">
                    <img class="img-fluid" src="assets/imgs/Group 25.png" alt="about">
                    <img class="icon1" src="assets/imgs/marketing.png" alt="marketing">
                    <img class="icon2" src="assets/imgs/design.png" alt="design">
                    <img class="icon3" src="assets/imgs/cenima.png" alt="cenima">
                    <img class="icon4" src="assets/imgs/media.png" alt="media">

                </div> -->

                <div class="d-flex justify-content-center align-items-center">
                    <div [ngClass]="{'click1': who === true}" (click)="change('who')" class="icon m-3 p-5 shadow">
                        <div class="after position-relative pb-2"><i class="fa-solid fa-users fa-2xl"></i></div>
                        <small>Who we are</small>
                        <div>
                            <i class="fas fa-arrow-circle-right text-light"></i>
                        </div>

                    </div>
                    <div [ngClass]="{'click2': vision === true}" (click)="change('vision')" class="icon m-3 p-5 shadow">
                        <div class="after position-relative pb-2"><i class="fa-solid fa-eye fa-2xl"></i></div>
                        <small>Our Vision</small>
                        <div>
                            <i class="fas fa-arrow-circle-right text-light"></i> </div>
                    </div>

                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div [ngClass]="{'click3': mission === true}" (click)="change('mission')" class="icon m-3 p-5 shadow">
                        <div class="after position-relative pb-2"><i class="fa-solid fa-road fa-2xl"></i></div>
                        <small>Our Mission</small>
                        <div>
                            <i class="fas fa-arrow-circle-right text-light"></i> </div>
                    </div>
                    <div [ngClass]="{'click4': value === true}" (click)="change('value')" class="icon m-3 p-5 shadow">
                        <div class="after position-relative pb-2"><i class="fa-solid fa-money-bill-trend-up fa-2xl"></i></div>
                        <small>Our Values</small>
                        <div>
                            <i class="fas fa-arrow-circle-right text-light"></i> </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>