    @import "../../styles.scss";
    .navbar-toggler {
        color: $light;
    }
    
    .navbar-brand {
        // color: $orang;
        cursor: pointer;
        // animation: moveIcon 4s infinite ease-in-out;
        position: relative;
    }
    
    .form-control {
        width: auto !important;
    }
    
    .login {
        padding-left: 32px;
        padding-right: 32px;
    }
    
    // @keyframes moveIcon {
    //     0% {
    //         left: -10%;
    //         opacity: 0
    //     }
    //     80% {
    //         left: 0;
    //         opacity: 1
    //     }
    //     100% {
    //         opacity: 0
    //     }
    // }
    .logo {
        width: 100px;
    }
    
    // .navbar-brand:hover {
    //     color: $orang;
    // }
    .navbar-toggler :hover {
        // color: #0d6efd;
        color: $lite-blue;
        transition: color .5s;
    }
    
    .navbar {
        // background-color: $lite-color !important;
        background-color: #000 !important;
        z-index: 11111;
    }
    
    // .btn {
    //     background-color: $orang;
    //     color: $light;
    // }
    .nav-link {
        color: $light !important;
        cursor: pointer;
        transition: color .5s;
        white-space: nowrap;
    }
    
    .nav-link:hover {
        // color: #0d6efd !important;
        color: $lite-blue !important;
    }
    
    .dropdown-menu {
        min-width: 5rem;
    }
    
    .active {
        // color: #0d6efd !important;
        color: $lite-blue !important;
    }
    
    .btn {
        color: $light;
        background-color: $lite-blue !important;
    }