@import "../../styles.scss";
// .service::after {
//     content: "";
//     position: absolute;
//     width: 1px;
//     height: 100%;
//     background-color: $orang;
//     left: 0;
//     top: 0;
// }
// .vector {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -2;
// }
section {
    background-image: url('../../assets/imgs/Frame3.png');
    background-position: center center;
}

.head {
    max-width: 500px;
}

a {
    text-decoration: none;
    color: $light;
    width: 100%;
}

.item {
    // background-color: #302461 !important;
    background-color: rgba(255, 255, 255, 0.123);
    // background-color: rgba(0, 0, 0, 0.3);
    transition: transform .5s, opacity .5s, background-color .5s, color .5s;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    min-height: 100px;
    color: $light;
}

.item:hover {
    // transform: scale(.9);
    // opacity: .8;
    background-color: rgba(255, 255, 255, 0.282);
    color: $lite-blue;
}

.fa-arrow-circle-right {
    color: $light;
    transition: color .5s;
}

.item:hover .fa-arrow-circle-right {
    color: $pink;
}

// h4 {
//     color: $light;
// }
.icon {
    background-color: $light;
    border-radius: 4px;
    height: fit-content;
    position: relative;
    color: $lite-blue;
}

.icon1 {
    background-color: $light;
    border-radius: 4px;
    height: fit-content;
    position: relative;
    color: $lite-blue;
}

// .icon::after {
//     content: "";
//     position: absolute;
//     width: 4px;
//     height: 140px;
//     background-color: $light;
//     top: 100%;
//     left: 50%;
//     transform: translateX(-50%);
// }
// .icon1::after {
//     content: "";
//     position: absolute;
//     width: 4px;
//     height: 140px;
//     background-color: $light;
//     bottom: 100%;
//     left: 50%;
//     transform: translateX(-50%);
// }
// .before::before {
//     content: "";
//     position: absolute;
//     width: 12px;
//     height: 12px;
//     border-radius: 50%;
//     background-color: $pink;
//     bottom: -290%;
//     left: 50%;
//     transform: translateX(-50%);
//     z-index: 2;
// }
// .after::before {
//     content: "";
//     position: absolute;
//     width: 12px;
//     height: 12px;
//     border-radius: 50%;
//     background-color: $pink;
//     top: -290%;
//     left: 50%;
//     transform: translateX(-50%);
//     z-index: 2;
// }
// @media screen and(max-width:1400px)and(min-width:1200px) {
//     .icon::after {
//         height: 170px;
//         top: 100%;
//     }
//     .icon1::after {
//         height: 170px;
//         bottom: 100%;
//     }
//     .before::before {
//         bottom: -330%;
//     }
//     .after::before {
//         top: -330%;
//     }
// }
// @media screen and (max-width:1200px) {
//     .item {
//         min-height: auto;
//     }
// }