<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#2f86e7" type="ball-scale-multiple"></ngx-spinner>

<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<section [ngClass]="(language === 'EN' ? 'ltr':'rtl')" class="my-5">
    <div class="d-flex justify-content-center container">
        <div class="mt-5 w-75 login">
            <h1 *ngIf="language==='EN'" class="my-3 text-primary">Login</h1>
            <h1 *ngIf="language==='AR'" class="my-3 text-primary">تسجيل الدخول</h1>

            <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm)">
                <div *ngIf="language==='EN'" class="form-floating mb-3">
                    <input [ngClass]="{'is-valid': loginForm.get('email')?.errors==null}" formControlName="email" type="email" class="form-control bg-transparent border-primary text-primary" id="email" placeholder="name@example.com">
                    <label class="text-primary" for="email">Email</label>
                    <div *ngIf="loginForm.get('email')?.errors!=null && loginForm.get('email')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
                        <p *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email</p>
                    </div>
                </div>
                <div *ngIf="language==='AR'" class="form-floating mb-3">
                    <input [ngClass]="{'validr': loginForm.get('email')?.errors==null}" formControlName="email" type="email" class="form-control bg-transparent border-primary text-primary" id="email" placeholder="name@example.com">
                    <label class="text-primary right" for="email">البريد الالكترونى</label>
                    <div *ngIf="loginForm.get('email')?.errors!=null && loginForm.get('email')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="loginForm.get('email')?.errors?.['required']">يجب ادخال البريد الالكترونى</p>
                        <p *ngIf="loginForm.get('email')?.errors?.['email']">يوجد خطاء في البريد الالكترونى او كلمه المرور غير صحيحه</p>
                    </div>
                </div>
                <div *ngIf="language==='EN'" class="form-floating mb-3">
                    <input [ngClass]="{'is-valid': loginForm.get('password')?.errors==null}" formControlName="password" type="password" class="form-control bg-transparent border-primary text-primary" id="password" placeholder="Password">
                    <label class="text-primary" for="password">Password</label>
                    <div *ngIf="loginForm.get('password')?.errors!=null && loginForm.get('password')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
                        <p *ngIf="loginForm.get('password')?.errors?.['pattern']">Invalid password</p>
                    </div>
                </div>
                <div *ngIf="language==='AR'" class="form-floating mb-3">
                    <input [ngClass]="{'validr': loginForm.get('password')?.errors==null}" formControlName="password" type="password" class="form-control bg-transparent border-primary text-primary" id="password" placeholder="Password">
                    <label class="text-primary right" for="password">كلمه المرور</label>
                    <div *ngIf="loginForm.get('password')?.errors!=null && loginForm.get('password')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="loginForm.get('password')?.errors?.['required']">يجب ادخال كلمه المرور</p>
                        <p *ngIf="loginForm.get('password')?.errors?.['pattern']">يوجد خطاء فى البريد الالكترونى او كمه المرور غير صحيحه</p>
                    </div>
                </div>
                <!-- <div class="row justify-content-between">
                    <div class="col-md-6 mb-2">
                        <button *ngIf="language==='EN'" [disabled]="loginForm.invalid" type="submit" class="btn btn-outline-primary">Login</button>
                        <button *ngIf="language==='AR'" [disabled]="loginForm.invalid" type="submit" class="btn btn-outline-primary">تسجيل الدخول</button>
                        <button (click)="forget()" *ngIf="language==='EN'" type="button" class="btn btn-outline-primary ms-2">Forget password</button>
                        <button (click)="forget()" *ngIf="language==='AR'" type="button" class="btn btn-outline-primary me-2">نسيت كلمة المرور</button>
                    </div>
                    <div class="col-md-6">
                        <p class="text-primary ms-md-2" *ngIf="language==='EN'">I don't have an account <span (click)="rgister()">register now</span></p>
                        <p class="text-primary" *ngIf="language==='AR'">ليس لدي حساب <span (click)="rgister()">سجل الان</span></p>
                    </div>
                </div> -->
                <button *ngIf="language==='EN'" [disabled]="loginForm.invalid" type="submit" class="btn btn-outline-primary">Login</button>
                <button *ngIf="language==='AR'" [disabled]="loginForm.invalid" type="submit" class="btn btn-outline-primary">تسجيل الدخول</button>
                <button (click)="forget()" *ngIf="language==='EN'" type="button" class="btn btn-outline-primary ms-2">Forget password</button>
                <button (click)="forget()" *ngIf="language==='AR'" type="button" class="btn btn-outline-primary me-2">نسيت كلمة المرور</button>

            </form>
        </div>
    </div>
</section>