<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#2f86e7" type="ball-scale-multiple"></ngx-spinner>

<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

<div [ngClass]="(language === 'EN' ? 'ltr':'rtl')" class="d-flex justify-content-center mt-5 container">
    <div class="my-5 w-75 update">
        <h1 *ngIf="language==='EN'" class="my-3 text-primary">
            Update password
        </h1>
        <h1 *ngIf="language==='AR'" class="my-3 text-primary">
            تحديث كلمة المرور
        </h1>

        <form [formGroup]="updatePasswordForm" (ngSubmit)="submitUpdatePasswordForm(updatePasswordForm)">
            <div *ngIf="language==='EN'" class="form-floating mb-3">
                <input [ngClass]="{'is-valid': updatePasswordForm.get('oldPassword')?.errors==null}" formControlName="oldPassword" type="password" class="form-control text-primary border-primary bg-transparent" id="oldPassword" placeholder="Old password">
                <label class="text-primary" for="oldPassword">Old password</label>
                <div *ngIf="updatePasswordForm.get('oldPassword')?.errors!=null && updatePasswordForm.get('oldPassword')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                    <p *ngIf="updatePasswordForm.get('oldPassword')?.errors?.['required']">Old password is required</p>
                    <p *ngIf="updatePasswordForm.get('oldPassword')?.errors?.['pattern']">Invalid old password</p>
                </div>
            </div>
            <div *ngIf="language==='AR'" class="form-floating mb-3">
                <input [ngClass]="{'validr': updatePasswordForm.get('oldPassword')?.errors==null}" formControlName="oldPassword" type="password" class="form-control text-primary border-primary bg-transparent" id="oldPassword" placeholder="Old password">
                <label class="text-primary right" for="oldPassword">كلمة المرور القديمة</label>
                <div *ngIf="updatePasswordForm.get('oldPassword')?.errors!=null && updatePasswordForm.get('oldPassword')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                    <p *ngIf="updatePasswordForm.get('oldPassword')?.errors?.['required']">مطلوب إدخال كلمة المرور القديمة</p>
                    <p *ngIf="updatePasswordForm.get('oldPassword')?.errors?.['pattern']">كلمة المرور القديمة غير صحيحة</p>
                </div>
            </div>
            <div *ngIf="language==='EN'" class="form-floating mb-3">
                <input [ngClass]="{'is-valid': updatePasswordForm.get('newPassword')?.errors==null}" formControlName="newPassword" type="password" class="form-control text-primary border-primary bg-transparent" id="newPassword" placeholder="New password">
                <label class="text-primary" for="newPassword">New password</label>
                <div *ngIf="updatePasswordForm.get('newPassword')?.errors!=null && updatePasswordForm.get('newPassword')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                    <p *ngIf="updatePasswordForm.get('newPassword')?.errors?.['required']">New password is required</p>
                    <p *ngIf="updatePasswordForm.get('newPassword')?.errors?.['pattern']">New password should contain at least 8 characters (1 number, 1 lowercase character, 1 uppercase character or 1 special character(@,$,&,_))</p>
                </div>
            </div>
            <div *ngIf="language==='AR'" class="form-floating mb-3">
                <input [ngClass]="{'validr': updatePasswordForm.get('newPassword')?.errors==null}" formControlName="newPassword" type="password" class="form-control text-primary border-primary bg-transparent" id="newPassword" placeholder="New password">
                <label class="text-primary right" for="newPassword">كلمة المرور الجديدة</label>
                <div *ngIf="updatePasswordForm.get('newPassword')?.errors!=null && updatePasswordForm.get('newPassword')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                    <p *ngIf="updatePasswordForm.get('newPassword')?.errors?.['required']">مطلوب إدخال كلمة مرور جديدة</p>
                    <p *ngIf="updatePasswordForm.get('newPassword')?.errors?.['pattern']">يجب أن تحتوي كلمة المرور الجديدة على 8 أحرف على الأقل (رقم واحد ، حرف واحد صغير ، حرف واحد كبير او حرف خاص واحد (@ ، $ ، & ، _))</p>
                </div>
            </div>
            <div *ngIf="language==='EN'" class="form-floating mb-3">
                <input [ngClass]="{'is-valid': updatePasswordForm.get('cNewPassword')?.errors==null&&updatePasswordForm.get('cNewPassword')?.value===updatePasswordForm.get('newPassword')?.value}" formControlName="cNewPassword" type="password" class="form-control text-primary border-primary bg-transparent"
                    id="cNewPassword" placeholder="Confirm new password">
                <label class="text-primary" for="cNewPassword">Confirm new password</label>
                <div *ngIf="updatePasswordForm.get('cNewPassword')?.errors!=null && updatePasswordForm.get('cNewPassword')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                    <p *ngIf="updatePasswordForm.get('cNewPassword')?.errors?.['required']">Confirm new password is required</p>
                </div>
                <p class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger" *ngIf="updatePasswordForm.get('cNewPassword')?.value!=updatePasswordForm.get('newPassword')?.value && updatePasswordForm.get('cNewPassword')?.touched">Confirm new password must match new password</p>
            </div>
            <div *ngIf="language==='AR'" class="form-floating mb-3">
                <input [ngClass]="{'is-valid': updatePasswordForm.get('cNewPassword')?.errors==null&&updatePasswordForm.get('cNewPassword')?.value===updatePasswordForm.get('newPassword')?.value}" formControlName="cNewPassword" type="password" class="form-control text-primary border-primary bg-transparent"
                    id="cNewPassword" placeholder="Confirm new password">
                <label class="text-primary right" for="cNewPassword">تأكيد كلمة المرور الجديدة</label>
                <div *ngIf="updatePasswordForm.get('cNewPassword')?.errors!=null && updatePasswordForm.get('cNewPassword')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                    <p *ngIf="updatePasswordForm.get('cNewPassword')?.errors?.['required']">مطلوب تأكيد كلمة المرور الجديدة</p>
                </div>
                <p class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger" *ngIf="updatePasswordForm.get('cNewPassword')?.value!=updatePasswordForm.get('newPassword')?.value && updatePasswordForm.get('cNewPassword')?.touched">تأكيد كلمة المرور الجديدة يجب أن تتطابق مع كلمة المرور الجديدة</p>
            </div>
            <button *ngIf="language==='EN'" [disabled]="updatePasswordForm.invalid||updatePasswordForm.get('cNewPassword')?.value!=updatePasswordForm.get('newPassword')?.value" type="submit" class="btn btn-outline-primary">Update</button>
            <a *ngIf="language==='EN'" (click)="cancle()" class="btn btn-outline-danger ms-3">Cancle</a>
            <button *ngIf="language==='AR'" [disabled]="updatePasswordForm.invalid||updatePasswordForm.get('cNewPassword')?.value!=updatePasswordForm.get('newPassword')?.value" type="submit" class="btn btn-outline-primary">تحديث</button>
            <a *ngIf="language==='AR'" (click)="cancle()" class="btn btn-outline-danger me-3">إلغاء</a>
        </form>
    </div>
</div>