<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height">
</particles>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#2f86e7" type="ball-scale-multiple"></ngx-spinner>
<section [ngClass]="(language === 'EN' ? 'ltr':'rtl')" class="my-5">

    <div class="d-flex justify-content-center container">
        <div class="my-5 w-75 verify">
            <h1 *ngIf="language==='EN'" class="my-3 text-primary">Reset password</h1>
            <h1 *ngIf="language==='AR'" class="my-3 text-primary">تاكيد</h1>

            <form [formGroup]="resetForm" (ngSubmit)="submitResetForm(resetForm)">
                <div *ngIf="language==='EN'" class="form-floating mb-3">
                    <input [ngClass]="{'is-valid': resetForm.get('verificationKey')?.errors==null}" formControlName="verificationKey" type="text" class="form-control text-primary border-primary bg-transparent" id="verificationKey" placeholder="Verification Key">
                    <label class="text-primary" for="verificationKey">Verification Key</label>
                    <div *ngIf="resetForm.get('verificationKey')?.errors!=null && resetForm.get('verificationKey')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="resetForm.get('verificationKey')?.errors?.['required']">Verification Key is required</p>
                    </div>
                </div>

                <div *ngIf="language==='AR'" class="form-floating mb-3">
                    <input [ngClass]="{'validr': resetForm.get('verificationKey')?.errors==null}" formControlName="verificationKey" type="text" class="form-control text-primary border-primary bg-transparent" id="verificationKey" placeholder="verificationKey">
                    <label class="text-primary right" for="verificationKey">مفتاح التحقق</label>
                    <div *ngIf="resetForm.get('verificationKey')?.errors!=null && resetForm.get('verificationKey')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="resetForm.get('verificationKey')?.errors?.['required']">يجب ادخال مفتاح التحقق</p>
                    </div>
                </div>

                <button *ngIf="language==='EN'" [disabled]="resetForm.invalid" type="submit" class="btn btn-outline-primary">Reset</button>
                <button *ngIf="language==='AR'" [disabled]="resetForm.invalid" type="submit" class="btn btn-outline-primary">إعادة تعيين</button>

            </form>
        </div>
    </div>
</section>