<section class="py-5 position-relative my-5">
    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

    <div class="container">
        <div class="position-relative text-center">
            <small class="partner position-relative">Partners</small>
            <h3 class="my-2 fw-bold">Our Partners</h3>
            <p class="head fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
            <!-- <img class="img-fluid vector" src="assets/imgs/Vector3.png" alt="Vector"> -->
        </div>
        <div class="my-5">
            <!-- <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="position-relative item">
                        <img class="img-fluid" src="assets/imgs/4.jpg" alt="partner">
                        <div class="icons d-flex justify-content-end align-items-end">

                            <div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-facebook-f fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-twitter fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-instagram fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-linkedin-in fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="position-relative item">
                        <img class="img-fluid" src="assets/imgs/1.jpg" alt="partner">
                        <div class="icons d-flex justify-content-end align-items-end">

                            <div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-facebook-f fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-twitter fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-instagram fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-linkedin-in fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="position-relative item">
                        <img class="img-fluid" src="assets/imgs/2.jpg" alt="partner">
                        <div class="icons d-flex justify-content-end align-items-end">

                            <div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-facebook-f fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-twitter fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-instagram fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-linkedin-in fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="position-relative item">
                        <img class="img-fluid" src="assets/imgs/3.jpg" alt="partner">
                        <div class="icons d-flex justify-content-end align-items-end">

                            <div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-facebook-f fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-twitter fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-instagram fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-linkedin-in fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="position-relative item">
                        <img class="img-fluid" src="assets/imgs/1.jpg" alt="partner">
                        <div class="icons d-flex justify-content-end align-items-end">

                            <div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-facebook-f fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-twitter fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-instagram fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-linkedin-in fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="position-relative item">
                        <img class="img-fluid" src="assets/imgs/2.jpg" alt="partner">
                        <div class="icons d-flex justify-content-end align-items-end">

                            <div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-facebook-f fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-twitter fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-instagram fa-fw"></i></a>
                                </div>
                                <div class="bord">
                                    <a><i class="fa-brands fa-linkedin-in fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o> -->

            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div><img class="img-fluid" src="assets/imgs/4.png" alt="partner"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div><img class="img-fluid" src="assets/imgs/5.png" alt="partner"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div><img class="img-fluid" src="assets/imgs/6.png" alt="partner"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div><img class="img-fluid" src="assets/imgs/7.png" alt="partner"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div><img class="img-fluid" src="assets/imgs/18.png" alt="partner"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div><img class="img-fluid" src="assets/imgs/21.png" alt="partner"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div><img class="img-fluid" src="assets/imgs/25.png" alt="partner"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div><img class="img-fluid" src="assets/imgs/26.png" alt="partner"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div><img class="img-fluid" src="assets/imgs/28.png" alt="partner"></div>
                </ng-template>


            </owl-carousel-o>






        </div>

    </div>
</section>