<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgb(255, 255, 123)" type="timer" [fullScreen]="true"></ngx-spinner>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#2f86e7" type="ball-scale-multiple"></ngx-spinner>

<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<section [ngClass]="(language === 'EN' ? 'ltr':'rtl')" class="my-5">
    <div class="d-flex justify-content-center container">
        <div class="mt-5 w-75 forget">
            <h1 *ngIf="language==='EN'" class="my-3 text-primary">Forget Password</h1>
            <h1 *ngIf="language==='AR'" class="my-3 text-primary">نسيت كلمة المرور</h1>

            <form [formGroup]="restKeyForm" (ngSubmit)="submitRestKeyForm(restKeyForm)">
                <div *ngIf="language==='EN'" class="form-floating mb-3">
                    <input [ngClass]="{'is-valid': restKeyForm.get('email')?.errors==null}" formControlName="email" type="email" class="form-control bg-transparent border-primary text-primary" id="email" placeholder="name@example.com">
                    <label class="text-primary" for="email">Email</label>
                    <div *ngIf="restKeyForm.get('email')?.errors!=null && restKeyForm.get('email')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="restKeyForm.get('email')?.errors?.['required']">Email is required</p>
                        <p *ngIf="restKeyForm.get('email')?.errors?.['email']">Invalid email</p>
                    </div>
                </div>
                <div *ngIf="language==='AR'" class="form-floating mb-3">
                    <input [ngClass]="{'validr': restKeyForm.get('email')?.errors==null}" formControlName="email" type="email" class="form-control bg-transparent border-primary text-primary" id="email" placeholder="name@example.com">
                    <label class="text-primary right" for="email">البريد الالكترونى</label>
                    <div *ngIf="restKeyForm.get('email')?.errors!=null && restKeyForm.get('email')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="restKeyForm.get('email')?.errors?.['required']">يجب ادخال البريد الالكترونى</p>
                        <p *ngIf="restKeyForm.get('email')?.errors?.['email']">يوجد خطاء في البريد الالكترونى او كلمه المرور غير صحيحه</p>
                    </div>
                </div>
                <div>
                    <button *ngIf="language==='EN'" [disabled]="restKeyForm.invalid" type="submit" class="btn btn-outline-primary">Submit</button>
                    <button *ngIf="language==='AR'" [disabled]="restKeyForm.invalid" type="submit" class="btn btn-outline-primary">إرسال</button>
                </div>

            </form>
        </div>
    </div>
</section>