                    @import "../../styles.scss";
                    section {
                        background-image: url('../../assets/imgs/Frame2.png');
                        background-color: #000;
                    }
                    
                    h3 {
                        color: $lite-blue;
                    } // .token::after {
                    //     content: "";
                    //     position: absolute;
                    //     width: 1px;
                    //     height: 100%;
                    //     background-color: $orang;
                    //     left: 0;
                    //     top: 0;
                    // } 
                    .btn {
                        background-color: $lite-blue;
                        color: $light;
                    }
                    
                    ul {
                        font-size: 20px;
                    }
                    
                    // .vector {
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     z-index: -1;
                    // }
                    // .token-skills-100 {
                    //     width: 100%;
                    //     font-size: 18px;
                    //     color: $light;
                    //     font-weight: 600;
                    // }
                    // .token-skills-75 {
                    //     width: 100%;
                    //     font-size: 14px;
                    //     color: $light;
                    //     font-weight: 600;
                    // }
                    // .token-skills-65 {
                    //     width: 60%;
                    //     font-size: 18px;
                    //     color: $light;
                    //     font-weight: 600;
                    // }
                    // .token-skills-95 {
                    //     width: 95%;
                    //     font-size: 18px;
                    //     color: $light;
                    //     font-weight: 600;
                    // }
                    // .token-skills-p {
                    //     font-size: 14px;
                    //     font-weight: 500;
                    //     color: $lite-blue;
                    //     opacity: 1 !important;
                    //     transition: opacity 3s;
                    // }
                    // .progress {
                    //     height: .25rem;
                    // }
                    // .progress-bar {
                    //     background-color: $lite-blue !important;
                    // }
                    // .btn {
                    //     background-color: $orang;
                    //     color: $light;
                    // }
                    // .progress1 {
                    //     width: 100% !important;
                    //     transition: width 3s;
                    // }
                    // .progress2 {
                    //     width: 100% !important;
                    //     transition: width 3s;
                    // }
                    // .progress3 {
                    //     width: 65% !important;
                    //     transition: width 3s;
                    // }
                    // .progress4 {
                    //     width: 95% !important;
                    //     transition: width 3s;
                    // }
                    // .icon {
                    //     width: 10%;
                    //     position: absolute;
                    //     top: 20%;
                    //     left: 41%;
                    //     transform: translateX(-50%);
                    //     animation: move 2s infinite ease-out;
                    // }
                    // @keyframes move {
                    //     0% {
                    //         transform: translateX(-50%);
                    //         opacity: 0;
                    //     }
                    //     90% {
                    //         transform: translateX(-50%) translatey(-70%);
                    //         opacity: 1
                    //     }
                    //     100% {
                    //         transform: translateX(-50%) translatey(-70%);
                    //         opacity: 0
                    //     }
                    // }
                    // @media screen and (max-width:992px)and(min-width:768px) {
                    //     .icon {
                    //         width: 50px;
                    //     }
                    // }