<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height">
</particles>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#2f86e7" type="ball-scale-multiple"></ngx-spinner>
<section [ngClass]="(language === 'EN' ? 'ltr':'rtl')" class="my-5">

    <div class="d-flex justify-content-center container">
        <div class="my-5 w-75 register">
            <h1 *ngIf="language==='EN'" class="my-3 text-primary">Register</h1>
            <h1 *ngIf="language==='AR'" class="my-3 text-primary">تسجيل</h1>

            <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm(registerForm)">
                <div *ngIf="language==='EN'" class="form-floating mb-3">
                    <input [ngClass]="{'is-valid': registerForm.get('name')?.errors==null}" formControlName="name" type="text" class="form-control text-primary border-primary bg-transparent" id="name" placeholder="Name">
                    <label class="text-primary" for="name">Name</label>
                    <div *ngIf="registerForm.get('name')?.errors!=null && registerForm.get('name')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="registerForm.get('name')?.errors?.['required']">Name is required</p>
                        <p *ngIf="registerForm.get('name')?.errors?.['minlength']">Name minlength is 3</p>
                        <p *ngIf="registerForm.get('name')?.errors?.['maxlength']">Name maxlength is 30</p>
                        <p *ngIf="registerForm.get('name')?.errors?.['pattern']">Letters only available</p>
                    </div>
                </div>

                <div *ngIf="language==='AR'" class="form-floating mb-3">
                    <input [ngClass]="{'validr': registerForm.get('name')?.errors==null}" formControlName="name" type="text" class="form-control text-primary border-primary bg-transparent" id="name" placeholder="Name">
                    <label class="text-primary right" for="name">الاسم</label>
                    <div *ngIf="registerForm.get('name')?.errors!=null && registerForm.get('name')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="registerForm.get('name')?.errors?.['required']">يجب ادخال الاسم</p>
                        <p *ngIf="registerForm.get('name')?.errors?.['minlength']">يجب الا يقل الاسم عن ثلاث احرف</p>
                        <p *ngIf="registerForm.get('name')?.errors?.['maxlength']">يجب الا يزيد الاسم عن ثلاثون حرف</p>
                        <p *ngIf="registerForm.get('name')?.errors?.['pattern']">الحروف فقط متاحه</p>
                    </div>
                </div>
                <div *ngIf="language==='EN'" class="form-floating mb-3">
                    <input [ngClass]="{'is-valid': registerForm.get('position')?.errors==null}" formControlName="position" type="text" class="form-control text-primary border-primary bg-transparent" id="position" placeholder="Position">
                    <label class="text-primary" for="position">Position</label>
                    <div *ngIf="registerForm.get('position')?.errors!=null && registerForm.get('position')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="registerForm.get('position')?.errors?.['required']">Position is required</p>
                        <p *ngIf="registerForm.get('position')?.errors?.['minlength']">Position minlength is 3</p>
                        <p *ngIf="registerForm.get('position')?.errors?.['maxlength']">Position maxlength is 30</p>
                        <p *ngIf="registerForm.get('position')?.errors?.['pattern']">Letters only available</p>
                    </div>
                </div>

                <div *ngIf="language==='AR'" class="form-floating mb-3">
                    <input [ngClass]="{'validr': registerForm.get('position')?.errors==null}" formControlName="position" type="text" class="form-control text-primary border-primary bg-transparent" id="position" placeholder="Position">
                    <label class="text-primary right" for="position">المنصب</label>
                    <div *ngIf="registerForm.get('position')?.errors!=null && registerForm.get('position')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="registerForm.get('position')?.errors?.['required']">يجب ادخال المنصب</p>
                        <p *ngIf="registerForm.get('position')?.errors?.['minlength']">يجب الا يقل المنصب عن ثلاث احرف</p>
                        <p *ngIf="registerForm.get('position')?.errors?.['maxlength']">يجب الا يزيدالمنصب عن ثلاثون حرف</p>
                        <p *ngIf="registerForm.get('position')?.errors?.['pattern']">الحروف فقط متاحه</p>
                    </div>
                </div>
                <div *ngIf="language==='EN'" class="form-floating mb-3">
                    <input [ngClass]="{'is-valid': registerForm.get('companyName')?.errors==null}" formControlName="companyName" type="text" class="form-control text-primary border-primary bg-transparent" id="company" placeholder="Company name">
                    <label class="text-primary" for="Company">Company name</label>
                    <div *ngIf="registerForm.get('companyName')?.errors!=null && registerForm.get('companyName')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="registerForm.get('companyName')?.errors?.['required']">Company name is required</p>
                        <p *ngIf="registerForm.get('companyName')?.errors?.['minlength']">Company name minlength is 3</p>
                        <p *ngIf="registerForm.get('companyName')?.errors?.['maxlength']">Company name maxlength is 30</p>
                        <p *ngIf="registerForm.get('companyName')?.errors?.['pattern']">Letters only available</p>
                    </div>
                </div>

                <div *ngIf="language==='AR'" class="form-floating mb-3">
                    <input [ngClass]="{'validr': registerForm.get('companyName')?.errors==null}" formControlName="companyName" type="text" class="form-control text-primary border-primary bg-transparent" id="company" placeholder="Company name">
                    <label class="text-primary right" for="company">اسم الشركة</label>
                    <div *ngIf="registerForm.get('companyName')?.errors!=null && registerForm.get('companyName')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="registerForm.get('companyName')?.errors?.['required']">يجب ادخال اسم الشركة</p>
                        <p *ngIf="registerForm.get('companyName')?.errors?.['minlength']">يجب الا يقل اسم الشركة عن ثلاث احرف</p>
                        <p *ngIf="registerForm.get('companyName')?.errors?.['maxlength']">يجب الا يزيد اسم الشركة عن ثلاثون حرف</p>
                        <p *ngIf="registerForm.get('companyName')?.errors?.['pattern']">الحروف فقط متاحه</p>
                    </div>
                </div>
                <div *ngIf="language==='EN'" class="form-floating mb-3">
                    <input [ngClass]="{'is-valid': registerForm.get('email')?.errors==null}" formControlName="email" type="email" class="form-control text-primary border-primary bg-transparent" id="email" placeholder="name@example.com">
                    <label class="text-primary" for="email">Email</label>
                    <div *ngIf="registerForm.get('email')?.errors!=null && registerForm.get('email')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</p>
                        <p *ngIf="registerForm.get('email')?.errors?.['email']">Email should be such as example@domain.com</p>
                    </div>
                </div>
                <div *ngIf="language==='AR'" class="form-floating mb-3">
                    <input [ngClass]="{'validr': registerForm.get('email')?.errors==null}" formControlName="email" type="email" class="form-control text-primary border-primary bg-transparent" id="email" placeholder="name@example.com">
                    <label class="text-primary right" for="email">البريد الالكترونى</label>
                    <div *ngIf="registerForm.get('email')?.errors!=null && registerForm.get('email')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="registerForm.get('email')?.errors?.['required']">يجب ادخال البريد الالكترونى</p>
                        <p *ngIf="registerForm.get('email')?.errors?.['email']">يجب ان يكون البريد الالكترونى مثل example@domain.com</p>
                    </div>
                </div>


                <div *ngIf="language==='EN'" class="form-floating mb-3">
                    <input [ngClass]="{'is-valid': registerForm.get('password')?.errors==null}" formControlName="password" type="password" class="form-control text-primary border-primary bg-transparent" id="password" placeholder="Password">
                    <label class="text-primary" for="password">Password</label>
                    <div *ngIf="registerForm.get('password')?.errors!=null && registerForm.get('password')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</p>
                        <p *ngIf="registerForm.get('password')?.errors?.['pattern']">Password should contain at least 8 characters (1 number, 1 lowercase character, 1 uppercase character or 1 special character(@,$,&,_))</p>
                    </div>
                </div>
                <div *ngIf="language==='AR'" class="form-floating mb-3">
                    <input [ngClass]="{'validr': registerForm.get('password')?.errors==null}" formControlName="password" type="password" class="form-control text-primary border-primary bg-transparent" id="password" placeholder="Password">
                    <label class="text-primary right" for="password">كلمه المرور</label>
                    <div *ngIf="registerForm.get('password')?.errors!=null && registerForm.get('password')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="registerForm.get('password')?.errors?.['required']">يجب ادخال كلمه المرور</p>
                        <p *ngIf="registerForm.get('password')?.errors?.['pattern']">يجب أن تحتوي كلمة المرور على 8 أحرف على الأقل (رقم واحد ، حرف واحد صغير ، حرف واحد كبير او حرف خاص واحد (@ ، $ ، & ، _))</p>
                    </div>
                </div>
                <div *ngIf="language==='EN'" class="form-floating mb-3">
                    <input [ngClass]="{'is-valid': registerForm.get('cPassword')?.errors==null&&registerForm.get('cPassword')?.value===registerForm.get('password')?.value}" formControlName="cPassword" type="password" class="form-control text-primary border-primary bg-transparent"
                        id="cPassword" placeholder="Confirm password">
                    <label class="text-primary" for="cPassword">Confirm password</label>
                    <div *ngIf="registerForm.get('cPassword')?.errors!=null && registerForm.get('cPassword')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="registerForm.get('cPassword')?.errors?.['required']">Confirm Password is required</p>
                    </div>
                    <p class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger" *ngIf="registerForm.get('cPassword')?.value!=registerForm.get('password')?.value && registerForm.get('cPassword')?.touched">Confirm password must match password</p>
                </div>
                <div *ngIf="language==='AR'" class="form-floating mb-3">
                    <input [ngClass]="{'validr': registerForm.get('cPassword')?.errors==null&&registerForm.get('cPassword')?.value===registerForm.get('password')?.value}" formControlName="cPassword" type="password" class="form-control text-primary border-primary bg-transparent"
                        id="cPassword" placeholder="Confirm password">
                    <label class="text-primary right" for="cPassword">تاكيد كلمه المرور</label>
                    <div *ngIf="registerForm.get('cPassword')?.errors!=null && registerForm.get('cPassword')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                        <p *ngIf="registerForm.get('cPassword')?.errors?.['required']">يجب ادخال تاكيد كلمه المرور</p>
                    </div>
                    <p class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger" *ngIf="registerForm.get('cPassword')?.value!=registerForm.get('password')?.value && registerForm.get('cPassword')?.touched">تاكيد كلمه المرور يجب ان يتطابق مع كلمه المرور</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <button *ngIf="language==='EN'" [disabled]="registerForm.invalid||registerForm.get('cPassword')?.value!=registerForm.get('password')?.value" type="submit" class="btn btn-outline-primary">Register</button>
                        <button *ngIf="language==='AR'" [disabled]="registerForm.invalid||registerForm.get('cPassword')?.value!=registerForm.get('password')?.value" type="submit" class="btn btn-outline-primary">تسجيل</button>
                    </div>
                    <div>
                        <p (click)="click()" class="special" *ngIf="language==='EN'">Be special customer</p>
                        <p (click)="click()" class="special" *ngIf="language==='AR'">كن عميلاً مميزاً</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>